@page
@{
    ViewData["Title"] = "Sobre";
}


<h1 class="display-4">Experiência</h1>

<h2 class="display-8">Compass UOL</h2>


<p>
    Tempo integral · 1 a 10 mTempo integral · 1 a 10 m<br />
    Desenvolvedor .Net<br />
    Desenvolvedor de software atuando no time de sustentação.
    Stack: .Net Framework, WCF, Soap, Worker, Windows Service, Bitbucket, Git, Visual Studio 2022, Sql Server, Service Broker, Rabbit MQ.
</p>

<h2 class="display-8">Compass UOL</h2>

<p>
    Desenvolvedor .NET
    ago de 2021 - mai de 2023 · 1 ano 10 mesesago de 2021 - mai de 2023 · 1 ano 10 meses<br />
    Santa Cruz do Sul, Rio Grande do Sul, BrasilSanta Cruz do Sul, Rio Grande do Sul, Brasil<br />
    Desenvolvedor de software. Participando do Studio de Integration.<br />
    Alocado em cliente como arquiteto de solução. Realizando a modelagem de microsservicos de um e-commerce com stack Oracle Cx Commerce, Knockout.js front-end, .Net Core 3.1 com c# back-end, google cloud com kubernetes, cron job, mensageria via pubsub, banco de dados mysql, cache redis.
    Participando do programa de Bolsas como Instrutor .NET : C#, Entity Framework, API Rest.Desenvolvedor de software. Participando do Studio de Integration. Alocado em cliente como arquiteto de solução. Realizando a modelagem de microsservicos de um e-commerce com stack Oracle Cx Commerce, Knockout.js front-end, .Net Core 3.1 com c# back-end, google cloud com kubernetes, cron job, mensageria via pubsub, banco de dados mysql, cache redis. Participando do programa de Bolsas como Instrutor .NET : C#, Entity Framework, API Rest.
    <br />
    Competências: Arquitetura MVC · API REST · Desenvolvimento de software · Microsoft SQL Server · Entity Framework
</p>
