@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Resumo ASDASD</h1>
    <p style="text-align:justify"> Olá. Meu nome é Rafael 
        Sou Bacharel em Informática e engenheiro de software. Acredito possuir facilidade para trabalhar em times de desenvolvimento, com bom relacionamento, responsabilidade e espírito de liderança. Paixão por idiomas e novas experiências na área.
        Atualmente estou atuando como dev senior , como professor do curso técnico de informática, instrutor do programa de bolsas c# . Em paralelo, estudando para certificação AZ-204 Microsoft Azure.
        <br />
        <br />• Principais stacks : C#, .Net, .Net Core, git, Azure devops, Jenkins, google pubsub, microsserviço.
        <br />• Tempo de experiência na área de desenvolvimento: 12 anos
        <br />• Principais frameworks utilizados: Windows Forms, Asp Net MVC, Asp Net Core, Rest API..
    </p>

    <h1 class="display-4">Experiência</h1>
    <p>
        Desenvolvedor de software atuando no time de sustentação.
        Stack: .Net Framework, WCF, Soap, Worker, Windows Service, Bitbucket, Git, Visual Studio 2022, Sql Server, Service Broker, Rabbit MQ.
    </p>
</div>
